<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.researchanddevelopment.mainpackage"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="10" />
    

    <application
        android:enabled="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:testOnly="false" android:allowClearUserData="true" android:description="@string/application_description" android:allowBackup="false" android:persistent="false" android:killAfterRestore="false">
        <activity
            android:label="@string/app_name"
            android:name=".Splash"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".SchuifpuzzelActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.researchandevelopment.mainpackage.SCHUIFPUZZELACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".GameActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" >
            <intent-filter >
             	<action android:name="com.researchanddevelopment.mainpackage.GAMEACTIVITY" />
             	
             	<catgory android:name="android.intent.category.DEFAULT" />
                
            </intent-filter>
        </activity>
        <activity android:name="LevelSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="com.researchanddevelopment.mainpackage.LEVELSELECTACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>